<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Technology Blog - Criar uma Conta</title>

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="css/clean-blog.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>

	<div class="signup-box">
		<form method="post" action="/signup">
			<div class="signup-box-header">
				<h5>Criar uma Conta</h5>
			</div>

			<div class="signup-box-content">
				<div class="form-group">
				    <label for="name">Nome</label> <br>
				    <input type="text" name="name" id="name" placeholder="Digite seu Nome">
			  	</div>

				<div class="form-group">
				    <label for="email">E-mail</label> <br>
				    <input type="email" name="email" id="email" placeholder="Digite seu E-mail">
			  	</div>

			  	<div class="form-group">
				    <label for="password">Senha</label> <br>
				    <input type="password" name="password" id="password" placeholder="Digite a sua Senha">
			  	</div>

			  	<div class="form-group">
				    <label for="confirmPassword">Confirmar Senha</label> <br>
				    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme sua Senha">
			  	</div>

			  	<% if (error) { %>
			  		<div class="error-box">
			  			<strong><%= error %></strong>
			  		</div>
			  	<% } %>
			</div>

			<div class="signup-box-footer">
				<a href="/" class="btn btn-secondary btn-sm">Cancelar</a>
			    <input type="submit" value="Criar" class="btn btn-info btn-sm">
			</div>
		</form>
	</div>	

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/clean-blog.min.js"></script>

</body>
</html>